<form name="transaction">
    <table>
        <tr>
            <th>Date</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Amount</th>
            <th>Note</th>
            <th></th>
        </tr>
        <% if (!!error) { %>
        <tr>
            <td>
                <% if (!!error.date) { %>
                <span class="error"><%= error.date %></span>
                <% } %>
            </td>
            <td>
                <% if (!!error.credit) { %>
                <span class="error"><%= error.credit %></span>
                <% } %>
            </td>
            <td>
                <% if (!!error.debit) { %>
                <span class="error"><%= error.debit %></span>
                <% } %>
            </td>
            <td>
                <% if (!!error.amount) { %>
                <span class="error"><%= error.amount %></span>
                <% } %>
            </td>
            <td>
                <% if (!!error.note) { %>
                <span class="error"><%= error.note %></span>
                <% } %>
            </td>
        </tr>
        <% } %>
        <tr>
            <td>
                <%- input.date %>
            </td>
            <td>
                <%- input.credit %>
            </td>
            <td>
                <%- input.debit %>
            </td>
            <td>
                <%- input.amount %>
            </td>
            <td>
                <%- input.note %>
            </td>
            <td>
                <input type="submit" name="save">
            </td>
        </tr>
    </table>
</form>
