<form name="transaction">
    <table>
        <tr>
            <th>Date</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Amount</th>
            <th>Note</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <%- date %>
            </td>
            <td>
                <%- credit %>
            </td>
            <td>
                <%- debit %>
            </td>
            <td>
                <%- amount %>
            </td>
            <td>
                <%- note %>
            </td>
            <td>
                <input type="submit" name="save">
            </td>
        </tr>
    </table>
</form>
