<form name="transaction">
    <table>
        <tr>
            <% fields.forEach(function (field) { %>
            <th><%= field.label %></th>
            <% })%>
            <th></th>
        </tr>
        <% if (!!errors) { %>
        <tr>
            <% fields.forEach(function (field) { %>
                <td>
                    <% if (!!field.error) { %>
                    <span class="error"><%= field.error %></span>
                    <% } %>
                </td>
            <% })%>
            <td></td>
        </tr>
        <% } %>
        <tr>
            <% fields.forEach(function (field) { %>
            <td><%- field.input %></td>
            <% })%>
            <td>
                <%- submitButton %>
            </td>
        </tr>
    </table>
</form>
